name: Terraform CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.8.5

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
      
      - name: Debug TF_VAR_account_id
        run: echo "TF_VAR_account_id=${{ secrets.AWS_ACCOUNT_ID }}"

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        env:
         TF_VAR_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
         TF_VAR_region: ${{ secrets.AWS_DEFAULT_REGION }}
        run: terraform plan -out=tfplan -var-file=instance.tfvars

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'   # only apply on main branch
        run: terraform apply -auto-approve tfplan
